<nav class="navbar navbar-expand-lg navbar-dark primary-color-dark">

    <div class="navbar-brand">Hotel Application</div>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <ul class="navbar-nav mr-auto">

            <li class="nav-item" *ngIf="role != undefined">
                <a class="nav-link" routerLink="/home" ><i class="fas fa-home"></i> Home</a>
            </li>
            <li class="nav-item" *ngIf="role == '0'">
                <a class="nav-link" routerLink="/my-orders"><i class="fas fa-clipboard-list"></i> My Orders</a>
            </li>
            <li class="nav-item" *ngIf="role == '1'">
                <a class="nav-link" routerLink="/products"><i class="fas fa-clipboard-list"></i> Products</a>
            </li>
            <li class="nav-item" *ngIf="role == '2'">
                <a class="nav-link" routerLink="/admins"><i class="fas fa-users-cog"></i> Admins</a>
            </li>
            <li class="nav-item" *ngIf="role == '2' || role == '1'">
                <a class="nav-link" routerLink="/customers"><i class="fas fa-users"></i> Customers</a>
            </li>
            <li class="nav-item" *ngIf="role == '2' || role == '1'">
                <a class="nav-link" routerLink="/logs"><i class="fas fa-history"></i> Logs</a>
            </li>
            <li class="nav-item" *ngIf="role == undefined">
                <a class="nav-link" routerLink="/authentication"><i class="fas fa-sign-in-alt"></i> Sign In</a>
            </li>
            <li class="nav-item" *ngIf="role != undefined">
                <span class="nav-link" style="cursor: pointer;" (click)="signOut()" ><i class="fas fa-sign-out-alt"></i> Sign Out</span>
            </li>
            
        </ul>

    </div>
  
</nav>