<div class="container mt-5" id="resetPasswordPage">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="mb-3 font-weight-bold text-center">Reset Password</div>
            <form id="resetPasswordForm" (submit)="resetPasswordSubmit()">
                <div class="input-group mb-3">
                    <div class="input-group-prepand">
                        <span class="input-group-text"><font color="black"><i class="fas fa-unlock"></i></font></span>
                    </div>
                    <input type="password" name="newPassword" id="newPassword" class="form-control" placeholder="New Password" required />
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepand">
                        <span class="input-group-text"><font color="black"><i class="fas fa-unlock"></i></font></span>
                    </div>
                    <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="Confirm Password" required />
                </div>
                <div id="resetPasswordResponse" class="text-danger text-center mb-2"></div>
                <button type="submit" id="resetPasswordSubmit" name="resetPasswordSubmit" class="btn btn-sm btn-purple rounded ml-0">Proceed</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>