<div class="container mt-5" id="resetPasswordPage">
    
    <div class="row">

        <div class="col-md-4"></div>

        <div class="col-md-4">

            <div class="mb-3 font-weight-bold text-center">Reset Password</div>
            
            <form #resetPasswordForm>

                <div class="input-group mb-3">
                    <div class="input-group-prepand">
                        <span class="input-group-text"><font color="black"><i class="fas fa-unlock"></i></font></span>
                    </div>
                    <input type="password" #newPassword (input)="checkPasswordMatch()" name="newPassword" class="form-control" placeholder="New Password" required />
                </div>
                
                <div class="input-group mb-3">
                    <div class="input-group-prepand">
                        <span class="input-group-text"><font color="black"><i class="fas fa-unlock"></i></font></span>
                    </div>
                    <input type="password" #confirmPassword (input)="checkPasswordMatch()" name="confirmPassword" class="form-control" placeholder="Confirm Password" required />
                </div>
                
                <div #resetPasswordResponse id="" class="text-danger text-center mb-2"></div>
                
                <button #resetPasswordSubmit type="submit" name="resetPasswordSubmit" class="btn btn-sm btn-purple rounded ml-0">Proceed</button>
                <button #resetPasswordReset type="reset" name="resetPasswordSubmit" class="btn btn-sm btn-purple rounded ml-0">Proceed</button>
            
            </form>

        </div>
        <div class="col-md-4"></div>

    </div>

</div>