<form #forgetPasswordForm>

    <div class="input-group mb-3">
        <div class="input-group-prepand">
            <span class="input-group-text"><font color="black"><i class="fas fa-at"></i></font></span>
        </div>
        <input type="email" #forgetPasswordEmailId name="forgetPasswordEmailId" class="form-control" placeholder="E-Mail Id" required />
    </div>

    <div #forgetPasswordResponse class="text-danger text-center mb-2"></div>

    <button type="submit" id="forgetPasswordSubmit" name="forgetPasswordSubmit" class="btn btn-sm btn-purple rounded ml-0">Proceed</button>
    <button #forgetPasswordReset type="reset" name="forgetPasswordReset" class="btn btn-sm btn-purple rounded ml-0">Reset</button>
    
</form>